# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db